<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crime Watch</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"/>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <!-- Navigation -->
    <nav id="nav">
        <a href="#home">HOME</a>
        <a href="#about">ABOUT</a>
        <a href="#contact">CONTACT</a>
    </nav>
    <!-- Home Section -->
    <section id="home">
        <div class="title-group">
            <h1>CRIME WATCH</h1>
            <h2>Tactical Monitoring and Analysis</h2>
            <div class="buttons">
                <button id="transcribeButton" class="primary button-homescreen"><span class="button-text">TRANSCRIBE</span></button>
                <button id="crimeWatchButton" class="secondary button-homescreen"><span class="button-text">CRIME WATCH</span></button>
            </div>
        </div>
    </section>
    <!-- About Section -->
    <section id="about">
        <h1>ABOUT US</h1>
        <div class="text-box" id="text-box">
            <p>We present to you a modern approach to visualize crime and ease clerical policework.
                Our speech-to-text and audio transcribe modules ensure time and work efficiency for police officers.
                The zone wise heat-map provides pronounced visualisation of crime around us.</p>
        </div>
    </section>

    <!-- Contacts Section -->
    <section id="contact">
        <h1>CONTACT US</h1>
        <div class="contact-list">
            <p>
                Rasika Kshirsagar:
                rvk.308@gmail.com <br>
                Shivani Dangi (Team leader):
                shivanidangi33@gmail.com <br>
                Gunjan Gupta:
                ggunjan251@gmail.com <br>
                Aditya Chandavale:
                aa.chandavale@gmail.com <br>
            </p>
        </div>
    </section>

    <!-- Script -->
    <script src="/static/script.js"></script>
</body>
</html>