<!DOCTYPE html>
<html>
  <head>
    <title>Record and save audio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"/>
    <link rel="stylesheet" href="/static/transcribe.css">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class="back-button">
      <i id="back-button" class="far fa-arrow-alt-circle-left" title="Go back to home screen"></i>
    </div>

    <div class="page-content">
      <div class = "button-group-transcribe">
          <button id="record">Record</button>
          <button id="stop" disabled>Stop</button>
          <button id="play" disabled>Play</button>
          <button id="save" disabled type="submit">Save</button>
		      <button id="transcribe">Transcribe</button>
      </div>

      <div id="saved-audio-messages">
        <h2>Saved messages</h2>
      </div>

      <script src="/static/transcribe.js">
      </script>
    </div>
  </body>
</html>