<!DOCTYPE html>
<html>
  <head>
    <title>Record and save audio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"/>
    <link rel="stylesheet" href="/static/transcribe.css">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class="back-button">
      <i id="back-button" class="far fa-arrow-alt-circle-left" title="Go back to home screen"></i>
    </div>

    <div class="page-content">
      <div class = "button-group-transcribe">
        <div class="record-buttons">
          <button id="record" class="primary"><span class="button-span">RECORD</span></button>
          <button id="stop" disabled class="primary"><span class="button-span">STOP</span></button>
          <button id="play" disabled class="primary"><span class="button-span">PLAY</span></button>
        </div>
        <div class="misc-buttons">
          <button id="save" disabled class="secondary" type="submit"><span class="button-span">SAVE</span></button>
		      <button id="transcribe" class="secondary"><span class="button-span">TRANSCRIBE</span></button>
        </div>
        <div class="translate-button">
          <button id="translate" class="primary"><span class="button-span">TRANSLATE</span></button>
        </div>
      </div>

      <script src="/static/transcribe.js"></script>
    </div>
  </body>
</html>